#Mletra10{
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;  
    font-size: 25pt;  color: #FFF;  -webkit-text-stroke: 0.7px black;  
    -moz-text-stroke: 0.7px black;
    -o-text-stroke: 0.7px black;
    -ms-text-stroke: 0.7px black;
} 